/* PC 画面 */

/* 共通部分 */
body{
  font-family: "Lato";
}

.inner{
  margin: 0 auto;
  width: 1100px;
}

.backcolor-green{
  background-color: #74cfae;
}

.backcolor-gray{
  background-color: #f2f2f2;
}

.common-fontsize{
  font-size: 24px;
}

.hoverElement{
  text-decoration: none;
}
/* --共通部分-- */

/* header */
.header{
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}



.headerIcon{
  font-size: 40px;
}

.header-inner-contact{
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;
}

.header-inner-contact:hover{
  color: #333;
  transition: 0.3s ;
}
/* --header-- */

/* main */
.main-title{
  text-align: center;
  padding-top: 70px;
}

.main-title-inner{
  padding: 250px 0;
}

.main-Innertitle{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main-title-innerText{
  font-family: "Raleway";
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* main section */
.section-wrap{
 padding-top: 50px;
}

.section-inner{
  display: flex;
  justify-content: center;
}

.iphone-image{
  margin-right: 100px;
}

.section-textArea{
  text-align: center;
  color: #fff;
}

.section-innerTitle{
  margin-bottom: 35px;
  font-family: "Raleway";
}

.section-text{
  font-size: 20px;
  width: 650px;
}

/* --main section-- */

/* main article */
.article-wrap{
  text-align: center;
  padding: 60px 0 70px 0;
  font-family: "Raleway";
}

.article-innerTitle{
  margin-bottom: 40px;
}

.article-image-wrap{
display: flex;
flex-wrap: wrap;
}

.article-imageContent{
  opacity: 0.7;
  transition:0.3s;
  margin: 0 100px 80px 0;
}

.article-imageContent:hover{
  opacity: 1;
  transition:0.3s;
}

.article-imageContent:nth-child(3n){
  margin-right: 0;
}

/* .article-imageContent:nth-child(n+4){
  margin-bottom: 0;
} */
.article-imageContent:nth-last-child(-n+3){
  margin-bottom: 0;
}

.article-bottom {
  display:flex;
  justify-content: center;
  margin-top: 90px;
}

.article-text{
  width: 500px;
  height: 40px;
}

.e-mail{
  color: #fff;
  padding: 14px 20px;
  width: 100px;
  margin-left: 90px;
  transition: 0.3s;
}

.e-mail:hover{
  color: #333;
  transition: 0.3s ;
}
/* --main article-- */

/* main skills-section */
.skills-section-wrap{
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-section-innerTitle{
  color: #fff;
  font-family: "Raleway";
}

.section-imageArea{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills-section-content{
  margin-right: 180px;
  color: #fff;
  font-size: 16px;
}

.skills-section-content:last-child{
  margin-right: 0;
}
/* --main skills-section-- */

/* nav */
.sns-nav{
  padding: 200px 0;
}

.sns-inner{
  text-align: center;
  display: flex;
  justify-content: center;
}

.sns-icon{
  font-size: 60px;
  color: #74cfae;
  width: 180px;
  padding: 20px 0;
  transition: 0.3s;
}

.sns-icon:hover{
  background-color: #fff;
  transition: 0.3s;
}
/* --nav-- */

/* footer */
.footer{
  padding: 20px 0 25px 0;
}

.footerText{
  color: #fff;
  text-align: right;
}

.fa-heart{
  font-size: 16px
}
/* --footer-- */

/* --PC 画面-- */