/* 共通部分 */
.backcolor-green{
  background-color: #74cfae;
}

.backcolor-gray{
  background-color: #f2f2f2;
}
/* --共通部分-- */

/* header */
.header-inner{
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.fa-bolt{
  font-size: 40px;
}

.header-contact{
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
}

.header-contact:hover{
  cursor: pointer;
  color: #333;
  transition: 0.3s ;
}

/* --header-- */

/* main */
.main-title{
  text-align: center;
}

.main-title-inner{
  padding: 250px 0;
}

h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

h2{
  font-size: 30px;
  color: #c0c0c0;
  padding-top: 20px;
}
/* main section */

.section-wrap{
 padding-top: 50px; 
}

.section-inner{
  display: flex;
  justify-content: center;
}

.iphone-image{
  margin-right: 100px;
}

.section-textArea{
  text-align: center;
  color: #fff;
}

h3,h4,h5{
  font-size: 24px;
}

h3{
  margin-bottom: 35px;
}

.section-text{
  font-size: 20px;
  width: 750px;
}

/* --main section-- */

/* main article */
.article-wrap{
  text-align: center;
}

h4{
  padding: 60px 0 40px 0;
}

.imageIn{
  margin-right: 100px;
  margin-bottom: 80px;
  transition: 0.3s;
  opacity: 0.7;
}

.imageIn:hover{
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.imageIn:onMo{
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.imageIn:nth-child(3){
  margin-right: 0;
}

.imageIn:last-child{
  margin-right: 0;
}

.imageIn:nth-child(n+4){
  margin-bottom: 0;
}

.article-bottom {
  display:flex;
  justify-content: center;
  margin-top: 90px;
  padding-bottom: 70px;
}

.article-text{
  width: 530px;
}

.e-mail{
  color: #fff;
  padding: 14px 20px;
  width: 100px;
  margin-left: 90px;
}

.e-mail:hover{
  cursor: pointer;
  color: #333;
  transition: 0.3s ;
}
/* --main article-- */

/* main skills-section */
.skills-section{
background-color: #4e4e4e;
text-align: center;
}

h5{
  color: #fff;
  padding-top: 70px;
}

.section-imageArea{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.skills-section-content{
  margin-right: 180px;
  color: #fff;
  font-size: 16px;
}

.skills-section-content:last-child{
  margin-right: 0;
}
/* --main skills-section-- */

/* nav */
.sns-nav{
  padding: 200px 0;
}

.sns-inner{
  text-align: center;
} 

.sns-icon{
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
  font-size: 50px;
}

.sns-icon:hover{
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}

/* --nav-- */

/* footer */
.footer-inner{ 
  color: #fff;
  text-align: right;
  margin-right: 100px;
  padding: 20px 0 25px 0;
}

.fa-heart{
  font-size: 16px
}
/* --footer-- */